<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="bufferSettings" type="Spark3.Rebuffer.ConfigBufferSettings, Spark3.Rebuffer" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>

  <appSettings>
    <!-- use back-slash \ for folder -->	  
	  
	<add key="xsl-folder" value="C:\development\spark\spark3\Website\static\example-org\private\xsl" />
    <add key="buffer-folder" value="C:\development\spark\spark3\Website\static\example-org\buffer" />
    
    <add key="api-base-url" value="http://symplectic.example-org.ac.uk:8092/publications-atom/"/>
    <add key="api-interval" value="500"/> <!--miliseconds-->
    <add key="api-retry-max-count" value="4"/>
    
    <add key="timeout" value="60000"/>
    <add key="file-retry-max-count" value="3"/>
  </appSettings>
  

  <bufferSettings>
    <buffers>
      

      <!-- Buffer the list of Groups (Departments) and their People. Write all the data to the single file Group-Person-Index-temp.xml -->
      <add name="group-person-index-temp">
        <settings buffer-mode="BufferAllItems" />
        <sourceItems api-relative-uri="groups"
                     api-use-modified-since="false"
                     api-use-paging="false"
                     select-elements="/atom:entry/api:user-group[@id!=1]" />
      
		  <!-- &amp;include-deleted=false -->
        <bufferAllItems select-buffered-element="."
                    select-elements="/atom:entry/api:object"
                    select-api-relative-uri="concat('users?groups=', @id, '&amp;detail=full')"
                    api-use-modified-since="true"
                    api-per-page="100"
                    select-filename="'group-person-index-temp.xml'" />
      </add>
      
      

    <!-- Now buffer each Group's (Department's) list of publications. Write all the data to individual data files, one per group -->
      <add name="group-publications">
        <settings buffer-mode="BufferItem" />
        <sourceItems api-relative-uri="groups"
                     api-use-modified-since="false"
                     api-use-paging="false"
                     select-elements="/atom:entry/api:user-group[@id!=1]" />
 
		  <!--&amp;include-deleted=false-->
        <bufferItem select-buffered-element="."
                    select-elements="/atom:entry/api:object"
                    select-api-relative-uri="concat('publications?groups=', @id, '&amp;detail=full')"
                    api-use-modified-since="true"
                    api-per-page="100"
                    select-filename="concat('group\', @id, '.xml')" />
      </add>
      


      

      <!-- Buffer each Person's (paged) publications data into individual XML files -->
      <!-- Make sure to include-deleted=true so that updates will be returned for users 
           who have been deleted (so that they can be marked as deleted). This will take a while. -->
      
            <!-- &amp;include-deleted=true -->
      <add name="person">
        <settings buffer-mode="BufferItem" />
        <sourceItems select-elements="/atom:entry/api:object"
                     api-relative-uri="users?detail=full"
                     api-use-modified-since="false"
                     api-per-page="100" />
        <bufferItem select-buffered-element="api:relationships"
                    select-elements="/atom:entry/api:relationship[api:related/api:object/@category='publication']"
                    select-api-relative-uri="concat('users/',@id,'/relationships?detail=full')"
                    api-use-modified-since="true"
                    api-per-page="100"
                    select-filename="concat('person\', @id, '.xml')" />
      </add>
            
            
      <!-- Finally update the group-person-index with the count() of each person's publications. Also pick the top X publications to add to the department pages. 
      A bit hard-coded for the moment. -->
            
      <add name="post-process-people">
	<settings buffer-mode="PostProcess" administration-filename="administration.xml"  input-filename="group-person-index-temp.xml" output-filename="group-person-index.xml" />
      </add>

	</buffers> 

  </bufferSettings>


  <log4net debug="false">

    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow,HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>


    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <file type="log4net.Util.PatternString" value="../logs/rebuffer-%property{log4net:HostName}-%date{yyyy-MM-dd}.txt" />
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>

    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ColoredConsoleAppender"/>
    </root>

  </log4net>

</configuration>